.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    box-sizing: border-box;

}

.Page {
    display: flex;
}

.NotesListWrapper {
    width: 500px;
    height: fit-content;
    padding: 20px;
    background-color: lightblue;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.InteractiveElementWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.NotesList {
     display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
}

.AddNoteButton {
    padding: 5px 10px;
    align-self: flex-start;
}
