
.NoteForm {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.FormLabelContainer {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}


.Error {
    font-size: 10px;
    color: red;
    line-height: 14px;
    width: 100%;
    flex-grow: 2;
}




.TagItem {
    flex-grow: 1;
}

.AddTag {
    padding: 5px 10px;
    text-align: center
}

.WrapperTagsAndAddTagButton {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

